<h2 class="page-header">Edit Book</h2 class="page-header">
<form action="/books/<%= book.id %>?_method=PUT" method="post">
  <%- include('_form_fields.ejs') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>