<h2 class="page-header">Search Books</h2 class="page-header">
<form action="/books" method="get">
  <div class="form-row">
    <div class="form-item">
      <label for="">Title</label>
      <input type="text" name="title" id="" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="">Published After</label>
      <input type="date" name="publishedAfter" id="" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div class="form-item">
      <label for="">Published Before</label>
      <input type="date" name="publishedBefore" id="" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>
  <div class="form-row form-row-end btn-row">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<div>
  <%- include('../partials/bookGrid', {
    books: books,
    large: true
  }) %>
</div>