<h2 class="page-header">New Book</h2 class="page-header">
<form action="/books" method="post">  <!-- enctype to tell server that form data might contain files ||| Now removed bcoz FilePond returns img in json data-->
  <%- include('_form_fields.ejs') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>